body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:1536px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u294_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1536px;
  height:816px;
}
#u294 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1536px;
  height:816px;
  display:flex;
}
#u294 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u294_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u295_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:870px;
  height:114px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u295 {
  border-width:0px;
  position:absolute;
  left:601px;
  top:597px;
  width:870px;
  height:114px;
  display:flex;
}
#u295 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u295_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u296_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#2729B3;
}
#u296 {
  border-width:0px;
  position:absolute;
  left:604px;
  top:604px;
  width:64px;
  height:14px;
  display:flex;
  font-family:'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#2729B3;
}
#u296 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u296_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u297_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#2729B3;
}
#u297 {
  border-width:0px;
  position:absolute;
  left:604px;
  top:634px;
  width:84px;
  height:14px;
  display:flex;
  font-size:12px;
  color:#2729B3;
}
#u297 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u297_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u298_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#2729B3;
}
#u298 {
  border-width:0px;
  position:absolute;
  left:604px;
  top:654px;
  width:115px;
  height:14px;
  display:flex;
  font-size:12px;
  color:#2729B3;
}
#u298 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u298_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u299_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#2729B3;
}
#u299 {
  border-width:0px;
  position:absolute;
  left:604px;
  top:674px;
  width:96px;
  height:14px;
  display:flex;
  font-size:12px;
  color:#2729B3;
}
#u299 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u299_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u300 label {
  left:0px;
  width:100%;
}
#u300_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:13px;
}
#u300 {
  border-width:0px;
  position:absolute;
  left:1289px;
  top:633px;
  width:28px;
  height:16px;
  display:flex;
}
#u300 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u300_img.selected {
}
#u300.selected {
}
#u300_img.disabled {
}
#u300.disabled {
}
#u300_img.selectedDisabled {
}
#u300.selectedDisabled {
}
#u300_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:0px;
  width:11px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u300_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u301 label {
  left:0px;
  width:100%;
}
#u301_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:13px;
}
#u301 {
  border-width:0px;
  position:absolute;
  left:1379px;
  top:564px;
  width:28px;
  height:16px;
  display:flex;
}
#u301 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u301_img.selected {
}
#u301.selected {
}
#u301_img.disabled {
}
#u301.disabled {
}
#u301_img.selectedDisabled {
}
#u301.selectedDisabled {
}
#u301_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:0px;
  width:11px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u301_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u302 label {
  left:0px;
  width:100%;
}
#u302_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:13px;
}
#u302 {
  border-width:0px;
  position:absolute;
  left:1289px;
  top:653px;
  width:28px;
  height:16px;
  display:flex;
}
#u302 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u302_img.selected {
}
#u302.selected {
}
#u302_img.disabled {
}
#u302.disabled {
}
#u302_img.selectedDisabled {
}
#u302.selectedDisabled {
}
#u302_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:0px;
  width:11px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u302_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u303 label {
  left:0px;
  width:100%;
}
#u303_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:13px;
}
#u303 {
  border-width:0px;
  position:absolute;
  left:1289px;
  top:673px;
  width:28px;
  height:16px;
  display:flex;
}
#u303 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u303_img.selected {
}
#u303.selected {
}
#u303_img.disabled {
}
#u303.disabled {
}
#u303_img.selectedDisabled {
}
#u303.selectedDisabled {
}
#u303_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:0px;
  width:11px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u303_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u304 label {
  left:0px;
  width:100%;
}
#u304_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:13px;
}
#u304 {
  border-width:0px;
  position:absolute;
  left:1379px;
  top:633px;
  width:28px;
  height:16px;
  display:flex;
}
#u304 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u304_img.selected {
}
#u304.selected {
}
#u304_img.disabled {
}
#u304.disabled {
}
#u304_img.selectedDisabled {
}
#u304.selectedDisabled {
}
#u304_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:0px;
  width:11px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u304_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u305_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u305 {
  border-width:0px;
  position:absolute;
  left:1424px;
  top:725px;
  width:70px;
  height:40px;
  display:flex;
}
#u305 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u305_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
